<section class="mainAbout my-5">
    <div class="container">
        <table class="table">
            <tr>
                <th>이름</th>
                <th>연락처</th>
                <th>지원분야</th>
                <th>경력년수</th>
                <th>주소</th>
                <th>CV</th>
                <th>지원날짜</th>
            </tr>

            <tr>
                <td>홍길동</td>
                <td>0102336253</td>
                <td>백앤드</td>
                <td>2</td>
                <td>서울</td>
                <td>CV.pdf</td>
                <td>18-05-2022</td>
            </tr>
        </table>
    </div>
</section>